@page "/books/edit/{id}"

@attribute [Authorize(Roles = "Administrator")]

@inject IBookRepository _repo
@inject IAuthorRepository _authorRepo
@inject IFileUpload _fileUpload
@inject NavigationManager _navManager

@using System.IO

<h3>Edit</h3>
<hr />
<br />

@if (int.Parse(id) < 1 || string.IsNullOrWhiteSpace(id))
{
    <ErrorMessage Message="Invalid Selection. Please try again." />
}
else if (Model == null)
{
    <LoadingMessage Message="Loading Book Details" />
}
else
{
    <EditForm Model="Model" OnValidSubmit="HandleUpdate">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="title">Book Title</label>
            <InputText @bind-Value="Model.Title" class="form-control" id="title" />
        </div>
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <InputText @bind-Value="Model.Isbn" class="form-control" id="isbn" />
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <InputNumber @bind-Value="Model.Price" class="form-control" id="price" />
        </div>
        <div class="form-group">
            <label for="author">Authors</label>
            <select @bind="Model.AuthorId" class="form-control" id="author">
                <option value="">-- Select uthor --</option>
                @if (Authors != null)
                {
                    foreach (var author in Authors)
                    {
                        <option value="@author.id">@author.Firstname @author.Lastname  </option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="summary">Summary</label>
            <InputTextArea @bind-Value="Model.Summary" class="form-control" id="summary" />
        </div>
        <div class="form-group">
            <label for="bookCover">Book Cover Photo</label>
            <InputFile OnChange="HandleFileSelection" />
            @if (isInvalidFileType)
            {
                <ErrorMessage Message="Please select a new image" />
            }
            @if (!string.IsNullOrWhiteSpace(imageDataUrl))
            {
                <img src="@imageDataUrl" style="height:100px; width:100px;" />
            }
            else if (!string.IsNullOrWhiteSpace(Model.Image))
            {
                <img src="uploads/@Model.Image" style="height:100px; width:100px;" />
            }
        </div>
        <button class="btn btn-primary" type="submit">
            <span class="oi oi-pencil"></span>
            Submit Changes
        </button>
        <button @onclick="BackToList" class="btn btn-outline-secondary">
            <span class="oi oi-media-skip-backward"></span>
            Back To List
        </button>
    </EditForm>
}

@code {
    [Parameter]
    public string id { get; set; }
    private Book Model = new Book();
    private IList<Author> Authors;
    private IFileListEntry file;
    private bool isSuccess = true;
    private bool isInvalidFileType = false;
    private bool isFileChanged = false;
    private string imageDataUrl;

    protected override async Task OnInitializedAsync()
    {
        int ID = Convert.ToInt32(id);
        Model = await _repo.Get(Endpoints.BooksEndpoint, ID);
        Authors = await _authorRepo.Get(Endpoints.AuthorsEndpoint);
    }

    private async Task HandleUpdate()
    {
        if (!isInvalidFileType)
        {
            if (file != null)
            {
                var ext = Path.GetExtension(file.Name);
                var picId = Guid.NewGuid().ToString().Replace("-", "");
                var picName = $"{picId}{ext}";

                //Remove Old Picture
                _fileUpload.RemoveFile(Model.Image);
                await _fileUpload.UploadFile(file, picName);

                Model.Image = picName;
            }
            else if (isFileChanged && file == null)
            {
                //Remove Old Picture
                _fileUpload.RemoveFile(Model.Image);
                Model.Image = string.Empty;
            }

            isSuccess = await _repo.Update(Endpoints.BooksEndpoint, Model, Model.id);
            if (isSuccess)
            {
                BackToList();
            }
        }
    }

    private async Task HandleFileSelection(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        isFileChanged = true;
        if (file != null)
        {
            var name = file.Name;
            if (name.Contains("jpg") || name.Contains("png") || name.Contains("jpeg"))
            {
                var ms = new MemoryStream();
                await file.Data.CopyToAsync(ms);

                StreamReader reader = new StreamReader(file.Data);
                var imageBase64Data = Convert.ToBase64String(ms.ToArray());
                imageDataUrl = string.Format("data:image/png;base64,{0}", imageBase64Data);
                isInvalidFileType = false;
            }
            else
            {
                isInvalidFileType = true;
                imageDataUrl = string.Empty;
            }
        }
        else
        {
            isInvalidFileType = false;
        }
    }

    private void BackToList()
    {
        _navManager.NavigateTo("/books/");
    }
}
